@charset "utf-8";

body{
	width: 90%;
	background-color: rgba(255, 228, 225, 0.66);
	margin: 0 auto;
	padding: 50px;
	text-align: justify;
	font-family: "Times New Roman", "游明朝", "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

a{
	color: red;
	text-decoration: none;
}

address{
	font-style: normal;
}

/*イントロダクション*/

.timetable{ 
	width: 50%; /* テーブルの横幅 */ 
	border-collapse: collapse; /* 枠線の表示方法 */ 
	border: 1px #1C79C6 solid; /*テーブル全体の枠線（太さ・色・スタイル）*/
	margin: 20px auto;
	font-size: 20px;
	} 

.timetable td{ 
	border: 2px #dc143c solid; /* セルの枠線（太さ・色・スタイル） */ 
	text-align: center;
	} 

/*concert*/
.concert_title{
	cursor: pointer;
	height: 1.5em;
	font-size: 25px;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.3),
	0px 7px 7px rgba(0,0,0,0.15),
    0px 5px 5px rgba(0,0,0,0.1);
    letter-spacing: 2px;
	margin: 10px auto;
	width: 75%;
	vertical-align: middle;
	padding-left: 5px;
	box-shadow:4px 4px 5px rgba(0,0,0,0.3);
	background-color: cornsilk;
	border: solid 2px #eee8aa;
	border-left: solid 3px #dc143c;
}

.discription{
	width: 80%;
	margin: 10px auto;
	font-size: 20px;
	line-height: 1.8em;
}

.concert_contents{
	font-size: 20px;
	width: 75%;
	margin: 10px auto;
}

.concert_contents table{
	margin: 10px auto;
}

.concert_contents th{
	background-color: #ffd3e1; 
	box-shadow:3px 3px 4px rgba(0,0,0,0.2);
	margin:3px;
	margin-top: 5px;
	padding-left: 10px;
	text-align: center;
	width: 80%;
}

.concert_contents td{
	border:solid 5px #ffe4e1;
	background-color: cornsilk;
	box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}

/*schedule*/
.sche_table{
	text-align: center;
	margin:7px auto 5px;
}

.sche_table td{
	border: solid 2px cornsilk;
}

.schedule_content{
	font-size: 20px;
}

/*link*/


.link_title{
	cursor: pointer;
	height: 1.5em;
	font-size: 25px;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.3),
	0px 7px 7px rgba(0,0,0,0.15),
    0px 5px 5px rgba(0,0,0,0.1);
    letter-spacing: 2px;
	margin: 10px auto;
	width: 75%;
	vertical-align: middle;
	padding-left: 5px;
	box-shadow:4px 4px 5px rgba(0,0,0,0.3);
	background-color: cornsilk;
	border: solid 2px #eee8aa;
	border-left: solid 3px #dc143c;
}

.discription{
	width: 80%;
	margin: 10px auto;
	font-size: 20px;
	line-height: 1.8em;
}

.link_contents{
	font-size: 20px;
	width: 75%;
	margin: 10px auto;
}

.link_contents table{
	margin: 10px auto;
}

.link_contents th{
	background-color: #ffd3e1; 
	box-shadow:3px 3px 4px rgba(0,0,0,0.2);
	margin:3px;
	margin-top: 5px;
	padding-left: 10px;
	text-align: center;
	width: 80%;
}

.link_contents td{
	border:solid 5px #ffe4e1;
	background-color: cornsilk;
	box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}



